<swiftlet name="sys$mqtt"
          displayname="MQTT Swiftlet"
          class="com.swiftmq.impl.mqtt.MQTTSwiftlet"
          icon="/sys_mqtt/images/swiftlet.png"
          description="MQTT Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval"
              description="Collect Interval Messages/Sec"
              default="1000"/>
    <property name="session-timeout"
              type="java.lang.Long"
              display="Session Timeout (hours)"
              description="Time in hours after which a unused Session is deleted"
              default="168"/>
    <entity name="declarations"
            display="Declarations"
            description="Declarations Section">
      <entitylist name="connection-templates"
                  display="Connection Templates"
                  description="Templates for Connections">
        <entitytemplate name="connection-template"
                        display="Connection Template"
                        description="Connection Template">
          <property name="socketfactory-class"
                    type="java.lang.String"
                    display="Socketfactory Class"
                    description="Socketfactory Class"
                    default="com.swiftmq.net.PlainSocketFactory"/>
          <property name="use-tcp-no-delay"
                    type="java.lang.Boolean"
                    display="Use TCP No Delay"
                    description="Use Tcp No Delay"
                    default="true"/>
          <property name="idle-timeout"
                    type="java.lang.Long"
                    display="Idle Timeout"
                    description="Inactivity timeout (ms) after which a Connection is disconnected"
                    default="90000"/>
          <property name="max-message-size"
                    type="java.lang.Integer"
                    display="Maximum Message Size"
                    description="Maximum Message Size"
                    default="10485760"
                    min="0"
                    max="2147483647"/>
          <property name="reject-disconnect-delay"
                    type="java.lang.Long"
                    display="Reject Disconnect Delay"
                    description="Time (ms) after which a rejected Connection is closed"
                    min="1000"
                    default="5000"/>
          <property name="router-input-buffer-size"
                    type="java.lang.Integer"
                    display="Router Network Input Buffer Size"
                    description="Router Network Input Buffer Size"
                    mandatory="false"
                    min="65536"
                    default="131072"/>
          <property name="router-input-extend-size"
                    type="java.lang.Integer"
                    display="Router Network Input Extend Size"
                    description="Router Network Input Extend Size"
                    mandatory="false"
                    min="65536"
                    default="65536"/>
          <property name="router-output-buffer-size"
                    type="java.lang.Integer"
                    display="Router Network Output Buffer Size"
                    description="Router Network Output Buffer Size"
                    mandatory="false"
                    min="65536"
                    default="131072"/>
          <property name="router-output-extend-size"
                    type="java.lang.Integer"
                    display="Router Network Output Extend Size"
                    description="Router Network Output Extend Size"
                    mandatory="false"
                    min="65536"
                    default="65536"/>
        </entitytemplate>
      </entitylist>
    </entity>
    <entitylist name="listeners"
                display="Listeners"
                description="Listener Definitions">
      <entitytemplate name="listener"
                      display="Listener"
                      description="Listener Definition">
        <property name="bindaddress"
                  read-only="true"
                  type="java.lang.String"
                  display="Bind IP Address"
                  description="Listener Bind IP Address"/>
        <property name="port"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Port"
                  description="Listener Port"
                  default="1883"
                  mandatory="true"/>
        <property name="max-connections"
                  type="java.lang.Integer"
                  display="Maximum Connections"
                  description="Maximum Connections for Listener"
                  default="-1"
                  mandatory="true"/>
        <property name="connection-template"
                  type="java.lang.String"
                  display="Connection Template"
                  description="Connection Template to use"
                  default="default"
                  mandatory="true"/>
        <entitylist name="host-access-list"
                    display="Host Access List"
                    description="Host Access List">
          <entitytemplate name="host-access-entry"
                          display="Host Access Entry"
                          description="Host Access Entry">
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entity name="usage"
            display="Usage"
            description="Live Usage">
      <entitylist name="connections"
                  display="MQTT Connections"
                  description="Active MQTT Connections"
                  dynamic-properties="msgs-received msgs-sent">
        <entitytemplate name="usage"
                        display="Active MQTT Connection"
                        description="Active MQTT Connection">
          <property name="client-id"
                    display="Client Id"
                    description="Client Id"
                    type="java.lang.String"/>
          <property name="connect-time"
                    display="Connect Time"
                    description="Connect Time"
                    type="java.lang.String"/>
          <property name="msgs-received"
                    display="Received Msgs/s "
                    description="Messages/Sec received from Connection"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="msgs-sent"
                    display="Sent Msgs/s"
                    description="Messages/Sec sent to Connection"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="total-received"
                    display="Total Received Msgs"
                    description="Total Number of Messages received from Connection"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="total-sent"
                    display="Total Sent Msgs"
                    description="Total Number of Messages sent to Connection"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="username"
                    display="User Name"
                    description="User Name"
                    type="java.lang.String"/>
          <property name="mqtt-protlevel"
                    type="java.lang.Integer"
                    display="MQTT Protocol Level"
                    description="MQTT Protocol Level [4 = 3.1.1]"/>
          <entity name="MQTT Session"
                  display="MQTT Session"
                  description="MQTT Session">
            <property name="persistent"
                      type="java.lang.Boolean"
                      display="Persistent"
                      description="Persistent Session"
                      default="false"/>
            <entitylist name="subscriptions"
                        display="Topic Subscriptions"
                        description="Topic Subscriptions">
              <entitytemplate name="Topic Subscription"
                              display="Topic Subscription"
                              description="Topic Subscription">
                <property name="swiftmq-topic"
                          type="java.lang.String"
                          display="SwiftMQ Topic"
                          description="Translated SwiftMQ Topic Name"/>
                <property name="qos"
                          type="java.lang.Integer"
                          display="QoS"
                          description="Quality of Service"
                          min="0"
                          max="2"
                          default="0"/>
                <property name="msgs-received"
                          display="Received Msgs/s "
                          description="Messages/Sec received from Subscription"
                          type="java.lang.Integer"
                          default="0"/>
                <property name="total-received"
                          display="Total Received Msgs"
                          description="Total Number of Messages received from Subscription"
                          type="java.lang.Integer"
                          default="0"/>
              </entitytemplate>
            </entitylist>
          </entity>
        </entitytemplate>
      </entitylist>
      <entitylist name="sessions"
                  display="Persistent Sessions"
                  description="Persistent MQTT Sessions">
        <entitytemplate name="MQTT Session"
                        display="MQTT Session"
                        description="MQTT Session">
          <property name="associated"
                    type="java.lang.Boolean"
                    display="Associated"
                    description="Associated with a Connection"
                    default="false"/>
          <property name="persistent"
                    type="java.lang.Boolean"
                    display="Persistent"
                    description="Persistent Session"
                    default="false"/>
          <entitylist name="subscriptions"
                      display="Topic Subscriptions"
                      description="Topic Subscriptions">
            <entitytemplate name="Topic Subscription"
                            display="Topic Subscription"
                            description="Topic Subscription">
              <property name="swiftmq-topic"
                        type="java.lang.String"
                        display="SwiftMQ Topic"
                        description="Translated SwiftMQ Topic Name"/>
              <property name="qos"
                        type="java.lang.Integer"
                        display="QoS"
                        description="Quality of Service"
                        min="0"
                        max="2"
                        default="0"/>
            </entitytemplate>
          </entitylist>
        </entitytemplate>
      </entitylist>
    </entity>
  </configuration>
</swiftlet>
