<swiftlet name="sys$routing"
					displayname="Routing Swiftlet (Unlimited Connections)"
					class="com.swiftmq.impl.routing.unlimited.URoutingSwiftletImpl"
					icon="/sys_routing/images/swiftlet.png"
					description="Routing Swiftlet (Unlimited Connections)"
					release="${release}"
					vendor="IIT Software GmbH" >
	<configuration>
      <property name="reject-disconnect-delay"
                          type="java.lang.Long"
                          display="Reject Disconnect Delay"
                          description="Time (ms) after which a rejected Connection is closed"
                          min="1000"
                          default="5000" />
      <property name="stage-valid-timeout"
                          type="java.lang.Long"
                          display="Stage Valid Timeout"
                          description="Time (ms) after which a Protocol Stage in a wait State becomes invalid"
                          min="1000"
                          default="15000" />
		<property name="roundrobin-enabled"
							type="java.lang.Boolean"
							display="Round Robin Scheduling"
							description="Enables/Disables Round Robin Scheduling"
							reboot-required="true"
							default="false" />
		<property name="inbound-flow-control-enabled"
							type="java.lang.Boolean"
							display="Inbound Flow Control"
							description="Enables/Disables Inbound Flow Control"
							reboot-required="true"
							default="false" />
		<property name="crfactory-class"
							type="java.lang.String"
							display="C/R Factory Class"
							description="Challenge/Response Factory Class"
							reboot-required="true"
							default="com.swiftmq.auth.ChallengeResponseFactoryImpl" />
      <property name="route-announce-hop-limit"
                          type="java.lang.Integer"
                          display="Route Announce Hop Limit"
                          description="Maximum Hop Count for Route Announce (-1 = unlimited)"
                          default="3" />
		<entitylist name="static-routes"
						display="Static Routes"
						description="Static Route Definitions" >
			<entitytemplate name="static-route"
						display="Static Route"
						description="Static Route Definition" >
			</entitytemplate>
		</entitylist>
		<entitylist name="filters"
						display="Route Filters"
						description="Route Filter Definitions" >
			<entitytemplate name="filter"
						display="Route Filter"
						description="Route Filter Definition" >
				<property name="type"
									type="java.lang.String"
									read-only="true"
									display="Filter Type"
									description="Filter Type"
									choice="include_by_hop include_by_destination exclude_by_hop exclude_by_destination"
									mandatory="true" />
				<entitylist name="routers"
								display="Routers"
								description="Routers to filter" >
					<entitytemplate name="router"
								display="Router to filter"
								description="Router to filter" >
					</entitytemplate>
				</entitylist>
			</entitytemplate>
		</entitylist>
		<entitylist name="listeners"
                display="Listeners"
                description="Listener Definitions">
			<entitytemplate name="listener"
                      display="Listener"
                      description="Listener Definition">
				<property name="bindaddress"
                  read-only="true"
                  type="java.lang.String"
                  display="Bind IP Address"
                  description="Listener Bind IP Address"/>
				<property name="port"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Port"
                  description="Listener Port"
                  mandatory="true"/>
                <property name="use-tcp-no-delay"
                          read-only="true"
                          type="java.lang.Boolean"
                          display="Use TCP No Delay"
                          description="Use Tcp No Delay"
                          default="true"
                          mandatory="true"/>
				<property name="socketfactory-class"
                  read-only="true"
                  type="java.lang.String"
                  display="Socketfactory Class"
                  description="Listener Socketfactory Class"
                  default="com.swiftmq.net.PlainSocketFactory"/>
				<property name="password"
                  read-only="true"
                  type="java.lang.String"
                  display="Password"
                  description="Password"/>
				<property name="keepalive-interval"
                  read-only="true"
                  type="java.lang.Long"
                  display="Keep Alive Interval"
                  description="Interval for sending Keep Alive Messages"
                  default="60000"/>
				<property name="inbound-transaction-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Inbound Transaction Size"
                  description="Number of Messages per Transaction"
                  default="20"/>
				<property name="inbound-window-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Inbound Window Size"
                  description="Max. Number of open Transactions"
                  default="10"/>
                <property name="router-input-buffer-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Input Buffer Size"
                          description="Router Network Input Buffer Size"
                          mandatory="false"
                          min="65536"
                          default="131072"/>
                <property name="router-input-extend-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Input Extend Size"
                          description="Router Network Input Extend Size"
                          mandatory="false"
                          min="65536"
                          default="65536"/>
                <property name="router-output-buffer-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Output Buffer Size"
                          description="Router Network Output Buffer Size"
                          mandatory="false"
                          min="65536"
                          default="131072"/>
                <property name="router-output-extend-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Output Extend Size"
                          description="Router Network Output Extend Size"
                          mandatory="false"
                          min="65536"
                          default="65536"/>
        <property name="use-compression"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="Use compression"
                  description="Uses Wirelevel Compression if enabled"
                  default="false"/>
        <property name="use-xa"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="Use XA"
                  description="Uses 2 Phase Commit Protocol (XA) if enabled"
                  default="true"/>
				<entitylist name="host-access-list"
                    display="Host Access List"
                    description="Host Access List">
					<entitytemplate name="host-access-entry"
                          display="Host Access Entry"
                          description="Host Access Entry">
					</entitytemplate>
				</entitylist>
			</entitytemplate>
		</entitylist>
		<entitylist name="connectors"
                display="Connectors"
                description="Connector Definitions">
			<entitytemplate name="connector"
                      display="Connector"
                      description="Connector Definition">
              <property name="hostname"
                        read-only="true"
                        type="java.lang.String"
                        display="Remote Hostname"
                        description="Remote Hostname"
                        mandatory="true"/>
              <property name="enabled"
                        type="java.lang.Boolean"
                        display="Enabled"
                        description="Enables/Disables this Connector"
                        default="true"/>
				<property name="port"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Remote Port"
                  description="Remote Port"
                  mandatory="true"/>
                <property name="use-tcp-no-delay"
                          read-only="true"
                          type="java.lang.Boolean"
                          display="Use TCP No Delay"
                          description="Use Tcp No Delay"
                          default="true"
                          mandatory="true"/>
				<property name="socketfactory-class"
                  read-only="true"
                  type="java.lang.String"
                  display="Socketfactory Class"
                  description="Connector Socketfactory Class"
                  default="com.swiftmq.net.PlainSocketFactory"/>
				<property name="password"
                  type="java.lang.String"
                  display="Password"
                  description="Password"/>
				<property name="retry-time"
                  read-only="true"
                  type="java.lang.Long"
                  display="Retry Time"
                  description="Retry Time"
                  min="1000"
                  default="60000"/>
				<property name="inbound-transaction-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Inbound Transaction Size"
                  description="Number of Messages per Transaction"
                  default="20"/>
				<property name="inbound-window-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Inbound Window Size"
                  description="Max. Number of open Transactions"
                  default="10"/>
                <property name="router-input-buffer-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Input Buffer Size"
                          description="Router Network Input Buffer Size"
                          mandatory="false"
                          min="65536"
                          default="131072"/>
                <property name="router-input-extend-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Input Extend Size"
                          description="Router Network Input Extend Size"
                          mandatory="false"
                          min="65536"
                          default="65536"/>
                <property name="router-output-buffer-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Output Buffer Size"
                          description="Router Network Output Buffer Size"
                          mandatory="false"
                          min="65536"
                          default="131072"/>
                <property name="router-output-extend-size"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Router Network Output Extend Size"
                          description="Router Network Output Extend Size"
                          mandatory="false"
                          min="65536"
                          default="65536"/>
                <property name="use-compression"
                          read-only="true"
                          type="java.lang.Boolean"
                          display="Use compression"
                          description="Uses Wirelevel Compression if enabled"
                          default="false"/>
        <property name="use-xa"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="Use XA"
                  description="Uses 2 Phase Commit Protocol (XA) if enabled"
                  default="true"/>
			</entitytemplate>
		</entitylist>
		<entity name="usage"
            display="Usage"
            description="Usage">
          <entitylist name="connections"
                      display="Active Routing Connections"
                      description="Active Routing Connections">
              <entitytemplate name="usage"
                              display="Active Routing Connection"
                              description="Active Routing Connection">
                  <property name="routername"
                            type="java.lang.String"
                            display="Router Name"
                            description="Name of the connected Router"/>
                <property name="connecttime"
                          display="Connect Time"
                          description="Connect Time"
                          type="java.lang.String"/>
                <property name="protocol-version"
                          display="Protocol Version"
                          description="Protocol Version"
                          type="java.lang.String"/>
                <property name="uses-xa"
                          type="java.lang.Boolean"
                          display="Uses XA"
                          description="Uses 2 Phase Commit Protocol (XA) if enabled"
                          default="false"/>
              </entitytemplate>
          </entitylist>
          <entitylist name="routing-table"
                      display="Routing Table"
                      description="Routing Table">
              <entitytemplate name="destination"
                              display="Destination"
                              description="Destination">
                <entitylist name="dynamic-routes"
                            display="Dynamic Routes"
                            description="Dynamic Routes">
                  <entitytemplate name="dynamic-route"
                                  display="Dynamic Route"
                                  description="Dynamic Route">
                  </entitytemplate>
                </entitylist>
              </entitytemplate>
          </entitylist>
		</entity>
	</configuration>
</swiftlet>
