<swiftlet name="sys$amqp"
          displayname="AMQP Swiftlet"
          class="com.swiftmq.impl.amqp.AMQPSwiftlet"
          icon="/com/swiftmq/impl/amqp/images/swiftlet.png"
          description="AMQP Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
	<configuration>
        <property name="allow-same-containerid"
                  type="java.lang.Boolean"
                  display="Allow same Container Id"
                  description="If set to false, it is handled like a JMS Client Id"
                  default="true"/>
        <property name="collect-interval"
                  type="java.lang.Long"
                  display="Collect Interval"
                  description="Collect Interval Messages/Sec"
                  default="1000"/>
        <entity name="declarations"
                display="Declarations"
                description="Declarations Section">
            <entity name="transformer"
                    display="Transformer"
                    description="Message Transformer">
                <entitylist name="default-inbound-transformers"
                            display="Default Inbound Transformers"
                            description="Default Inbound Transformers">
                    <entitytemplate name="default-inbound-transformer"
                                    display="Default Inbound Transformer"
                                    description="Default Inbound Transformer">
                        <property name="class-name"
                                  mandatory="true"
                                  type="java.lang.String"
                                  display="Class Name"
                                  description="Class Name"
                                  default="com.swiftmq.impl.amqp.amqp.v01_00_00.transformer.JMSMappingInboundTransformer"/>
                         <entitylist name="properties"
                                     display="Properties"
                                     description="Properties">
                            <entitytemplate name="property"
                                            display="Property"
                                            description="Property">
                                <property name="value"
                                          mandatory="true"
                                          type="java.lang.String"
                                          display="Property Value"
                                          description="Property Value"/>
                            </entitytemplate>
                        </entitylist>
                    </entitytemplate>
                </entitylist>
                <entitylist name="default-outbound-transformers"
                            display="Default Outbound Transformers"
                            description="Default Outbound Transformers">
                    <entitytemplate name="default-outbound-transformer"
                                    display="Default Outbound Transformer"
                                    description="Default Outbound Transformer">
                        <property name="class-name"
                                  mandatory="true"
                                  type="java.lang.String"
                                  display="Class Name"
                                  description="Class Name"
                                  default="com.swiftmq.impl.amqp.amqp.v01_00_00.transformer.JMSMappingOutboundTransformer"/>
                         <entitylist name="properties"
                                     display="Properties"
                                     description="Properties">
                            <entitytemplate name="property"
                                            display="Property"
                                            description="Property">
                                <property name="value"
                                          mandatory="true"
                                          type="java.lang.String"
                                          display="Property Value"
                                          description="Property Value"/>
                            </entitytemplate>
                        </entitylist>
                    </entitytemplate>
                </entitylist>
                <entitylist name="destination-transformers"
                            display="Destination Transformers"
                            description="Transformer Declaration per Queue/Topic">
                    <entitytemplate name="destination-transformer"
                                    display="Destination Transformer"
                                    description="Transformer Declaration of a Queue/Topic">
                        <entitylist name="inbound-transformers"
                                    display="Inbound Transformers"
                                    description="Inbound Transformers">
                            <entitytemplate name="inbound-transformer"
                                            display="Inbound Transformer"
                                            description="Inbound Transformer">
                                <property name="class-name"
                                          mandatory="true"
                                          type="java.lang.String"
                                          display="Class Name"
                                          description="Class Name"
                                          default="com.swiftmq.impl.amqp.amqp.v01_00_00.transformer.JMSMappingInboundTransformer"/>
                                 <entitylist name="properties"
                                             display="Properties"
                                             description="Properties">
                                    <entitytemplate name="property"
                                                    display="Property"
                                                    description="Property">
                                        <property name="value"
                                                  mandatory="true"
                                                  type="java.lang.String"
                                                  display="Property Value"
                                                  description="Property Value"/>
                                    </entitytemplate>
                                </entitylist>
                            </entitytemplate>
                        </entitylist>
                        <entitylist name="outbound-transformers"
                                    display="Outbound Transformers"
                                    description="Outbound Transformers">
                            <entitytemplate name="outbound-transformer"
                                            display="Outbound Transformer"
                                            description="Outbound Transformer">
                                <property name="class-name"
                                          mandatory="true"
                                          type="java.lang.String"
                                          display="Class Name"
                                          description="Class Name"
                                          default="com.swiftmq.impl.amqp.amqp.v01_00_00.transformer.JMSMappingOutboundTransformer"/>
                                 <entitylist name="properties"
                                             display="Properties"
                                             description="Properties">
                                    <entitytemplate name="property"
                                                    display="Property"
                                                    description="Property">
                                        <property name="value"
                                                  mandatory="true"
                                                  type="java.lang.String"
                                                  display="Property Value"
                                                  description="Property Value"/>
                                    </entitytemplate>
                                </entitylist>
                            </entitytemplate>
                        </entitylist>
                    </entitytemplate>
                </entitylist>
            </entity>
            <entitylist name="connection-templates"
                        display="Connection Templates"
                        description="Templates for Connections">
                <entitytemplate name="connection-template"
                                display="Connection Template"
                                description="Connection Template">
                    <property name="socketfactory-class"
                              type="java.lang.String"
                              display="Socketfactory Class"
                              description="Socketfactory Class"
                              default="com.swiftmq.net.PlainSocketFactory"/>
                    <property name="use-tcp-no-delay"
                              type="java.lang.Boolean"
                              display="Use TCP No Delay"
                              description="Use Tcp No Delay"
                              default="true"/>
                    <property name="idle-timeout"
                              type="java.lang.Long"
                              display="Idle Timeout"
                              description="Inactivity timeout (ms) after which a Connection is disconnected"
                              default="90000"/>
                    <property name="max-frame-size"
                              type="java.lang.Long"
                              display="Maximum Frame Size"
                              description="Maximum Frame Size"
                              default="2147483647"
                              min="0"
                              max="2147483647"/>
                    <property name="max-message-size"
                              type="java.lang.Long"
                              display="Maximum Message Size"
                              description="Maximum Message Size"
                              default="10485760"
                              min="0"
                              max="2147483647"/>
                    <property name="max-channel-number"
                              type="java.lang.Integer"
                              display="Maximum Channel Number"
                              description="Maximum Channel Number"
                              default="65535"
                              min="0"
                              max="65535"/>
                    <property name="target-link-credit"
                              type="java.lang.Long"
                              display="Target Link Credit"
                              description="Link Credit for Targets"
                              default="20"
                              min="1"
                              max="2147483647"/>
                    <property name="max-handle-number"
                              type="java.lang.Long"
                              display="Maximum Handle Number"
                              description="Maximum Handle Number"
                              default="2147483647"
                              min="0"
                              max="2147483647"/>
                    <property name="incoming-window-size"
                              type="java.lang.Integer"
                              display="Incoming Window Size"
                              description="Maximum Number of incoming unsettled Transfer Frames"
                              default="100"
                              min="1"
                              max="2147483647"/>
                    <property name="outgoing-window-size"
                              type="java.lang.Integer"
                              display="Outgoing Window Size"
                              description="Maximum Number of outgoing unsettled Transfer Frames"
                              default="100"
                              min="1"
                              max="2147483647"/>
                    <property name="reject-disconnect-delay"
                              type="java.lang.Long"
                              display="Reject Disconnect Delay"
                              description="Time (ms) after which a rejected Connection is closed"
                              min="1000"
                              default="5000"/>
                    <property name="router-input-buffer-size"
                              type="java.lang.Integer"
                              display="Router Network Input Buffer Size"
                              description="Router Network Input Buffer Size"
                              mandatory="false"
                              min="65536"
                              default="131072"/>
                    <property name="router-input-extend-size"
                              type="java.lang.Integer"
                              display="Router Network Input Extend Size"
                              description="Router Network Input Extend Size"
                              mandatory="false"
                              min="65536"
                              default="65536"/>
                    <property name="router-output-buffer-size"
                              type="java.lang.Integer"
                              display="Router Network Output Buffer Size"
                              description="Router Network Output Buffer Size"
                              mandatory="false"
                              min="65536"
                              default="131072"/>
                    <property name="router-output-extend-size"
                              type="java.lang.Integer"
                              display="Router Network Output Extend Size"
                              description="Router Network Output Extend Size"
                              mandatory="false"
                              min="65536"
                              default="65536"/>
                </entitytemplate>
            </entitylist>
        </entity>
		<entitylist name="listeners"
                display="Listeners"
                description="Listener Definitions">
			<entitytemplate name="listener"
                      display="Listener"
                      description="Listener Definition">
				<property name="bindaddress"
                  read-only="true"
                  type="java.lang.String"
                  display="Bind IP Address"
                  description="Listener Bind IP Address"/>
                <property name="port"
                          read-only="true"
                          type="java.lang.Integer"
                          display="Port"
                          description="Listener Port"
                          default="5672"
                          mandatory="true"/>
                <property name="max-connections"
                          type="java.lang.Integer"
                          display="Maximum Connections"
                          description="Maximum Connections for Listener"
                          default="-1"
                          mandatory="true"/>
                <property name="sasl-enabled"
                          type="java.lang.Boolean"
                          display="SASL enabled"
                          description="Enabled/Disabled SASL Authentication"
                          default="true"/>
                <property name="connection-template"
                          type="java.lang.String"
                          display="Connection Template"
                          description="Connection Template to use"
                          default="default"
                          mandatory="true"/>
                <entitylist name="host-access-list"
                            display="Host Access List"
                            description="Host Access List">
                    <entitytemplate name="host-access-entry"
                                    display="Host Access Entry"
                                    description="Host Access Entry">
                    </entitytemplate>
                </entitylist>
			</entitytemplate>
		</entitylist>
        <entitylist name="usage"
                    display="Usage"
                    description="Active AMQP Connections"
                    dynamic-properties="msgs-received msgs-sent">
          <entitytemplate name="usage"
                          display="Active AMQP Connection"
                          description="Active AMQP Connection">
            <property name="container-id"
                        display="Container Id"
                        description="Container Id"
                        type="java.lang.String"/>
            <property name="connect-time"
                        display="Connect Time"
                        description="Connect Time"
                        type="java.lang.String"/>
            <property name="msgs-received"
                      display="Received Msgs/s "
                      description="Messages/Sec received from Connection"
                      type="java.lang.Integer"
                      default="0"/>
            <property name="msgs-sent"
                      display="Sent Msgs/s"
                      description="Messages/Sec sent to Connection"
                      type="java.lang.Integer"
                      default="0"/>
            <property name="total-received"
                      display="Total Received Msgs"
                      description="Total Number of Messages received from Connection"
                      type="java.lang.Integer"
                      default="0"/>
            <property name="total-sent"
                        display="Total Sent Msgs"
                        description="Total Number of Messages sent to Connection"
                        type="java.lang.Integer"
                        default="0"/>
            <property name="username"
                      display="User Name"
                      description="User Name"
                      type="java.lang.String"/>
            <property name="amqp-version"
                        type="java.lang.String"
                        display="AMQP Version"
                        description="AMQP Version"/>
            <entitylist name="sessions"
                        display="Sessions"
                        description="Sessions created by this Connection">
              <entitytemplate name="session"
                              display="Session"
                              description="Session">
                <property name="remote-channel"
                            display="Remote Channel"
                            description="Remote Channel"
                            type="java.lang.Integer"
                            default="-1"/>
                <property name="next-incoming-id"
                            display="Next Incoming Id"
                            description="Next Incoming Id"
                            type="java.lang.Long"
                            default="0"/>
                <property name="next-outgoing-id"
                            display="Next Outgoing Id"
                            description="Next Outgoing Id"
                            type="java.lang.Long"
                            default="0"/>
                <property name="incoming-window"
                            display="Incoming Window"
                            description="Incoming Window"
                            type="java.lang.Long"
                            default="0"/>
                <property name="outgoing-window"
                            display="Outgoing Window"
                            description="Outgoing Window"
                            type="java.lang.Long"
                            default="0"/>
                <property name="remote-incoming-window"
                            display="Remote Incoming Window"
                            description="Remote Incoming Window"
                            type="java.lang.Long"
                            default="0"/>
                <property name="remote-outgoing-window"
                            display="Remote Outgoing Window"
                            description="Remote Outgoing Window"
                            type="java.lang.Long"
                            default="0"/>
                  <entitylist name="targetlinks"
                              display="Target Links"
                              description="Target Links created by this Session">
                    <entitytemplate name="targetlink"
                                    display="Target Link"
                                    description="Target Link">
                      <property name="remote-address"
                                  display="Remote Address"
                                  description="Remote Address (Destination)"
                                  type="java.lang.String"/>
                      <property name="local-address"
                                  display="Local Address"
                                  description="Local Address (Destination)"
                                  type="java.lang.String"/>
                      <property name="link-credit"
                                  display="Link Credit"
                                  description="Current Link Credit"
                                  type="java.lang.Long"
                                  default="-1"/>
                      <property name="delivery-count"
                                  display="Delivery Count"
                                  description="Current Delivery Count"
                                  type="java.lang.Long"
                                  default="0"/>
                      <property name="messages-received"
                                  display="Number Messages Received"
                                  description="Number Messages Received"
                                  type="java.lang.Long"
                                  default="0"/>
                      <property name="unsettled-transfers"
                                  display="Number unsettled Transfers"
                                  description="Number unsettled Transfers"
                                  type="java.lang.Integer"
                                  default="0"/>
                    </entitytemplate>
                  </entitylist>
                  <entitylist name="sourcelinks"
                              display="Source Links"
                              description="Source Links created by this Session">
                    <entitytemplate name="sourcelink"
                                    display="Source Link"
                                    description="Source Link">
                      <property name="local-address"
                                  display="Local Address"
                                  description="Local Address (Destination)"
                                  type="java.lang.String"/>
                      <property name="remote-address"
                                  display="Remote Address"
                                  description="Remote Address (Destination)"
                                  type="java.lang.String"/>
                      <property name="link-credit"
                                  display="Link Credit"
                                  description="Current Link Credit"
                                  type="java.lang.Long"
                                  default="-1"/>
                      <property name="delivery-count-snd"
                                  display="Delivery Count Send"
                                  description="Current Delivery Count Send"
                                  type="java.lang.Long"
                                  default="0"/>
                      <property name="delivery-count-rcv"
                                  display="Delivery Count Received"
                                  description="Current Delivery Count Received"
                                  type="java.lang.Long"
                                  default="0"/>
                      <property name="messages-sent"
                                  display="Number Messages Sent"
                                  description="Number Messages Sent"
                                  type="java.lang.Long"
                                  default="0"/>
                      <property name="unsettled-transfers"
                                  display="Number unsettled Transfers"
                                  description="Number unsettled Transfers"
                                  type="java.lang.Integer"
                                  default="0"/>
                      <property name="nolocal"
                                  display="No Local"
                                  description="Does not send local Messages"
                                  type="java.lang.Boolean"
                                  default="false"/>
                      <property name="selector"
                                  display="Selector"
                                  description="Message Selector"
                                  type="java.lang.String"/>
                      <property name="drain"
                                  display="Drain"
                                  description="Drain Flag"
                                  type="java.lang.Boolean"
                                  default="false"/>
                    </entitytemplate>
                  </entitylist>
              </entitytemplate>
            </entitylist>
        </entitytemplate>
      </entitylist>
	</configuration>
 </swiftlet>
