<swiftlet name="sys$threadpool"
          displayname="Threadpool Swiftlet"
          class="com.swiftmq.impl.threadpool.standard.ThreadpoolSwiftletImpl"
          icon="/sys_threadpool/images/swiftlet.png"
          description="Threadpool Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval"
              description="Interval for collecting the Thread Counts"
              default="1000"/>
    <property name="group-shutdown-order"
              type="java.lang.String"
              display="Shutdown Order"
              description="The order in which the groups are being shut down"
              default=""
              reboot-required="true"/>
    <entitylist name="groups" display="Groups" description="Event Loop Groups">
      <entitytemplate name="group" display="Group" description="Event Loop Group Definition">
        <property name="freezable"
                  type="java.lang.Boolean"
                  display="Freezable"
                  description="If true, the groups event loops can be frozen for HA"
                  default="true"
                  read-only="true"/>
        <entitylist name="eventloops" display="Event Loops" description="Event Loop Assignments">
          <entitytemplate name="eventloop" display="Event Loop" description="Name of the Event Loop">
            <property name="virtual"
                      type="java.lang.Boolean"
                      display="Virtual"
                      description="Uses a Virtual Threads for this Event Loop, otherwise a Platform Thread"
                      default="true"
                      read-only="true"/>
            <property name="bulk-mode"
                      type="java.lang.Boolean"
                      display="Bulk Mode"
                      description="Consumes all available events or a single event in one iteration"
                      default="false"
                      read-only="true"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="usage" display="Usage" description="Thread Usage">
      <entitytemplate name="usage" display="Threads" description="Active Threads">
        <property name="01platform"
                  type="java.lang.Integer"
                  display="Platform Event Loops"
                  description="Active Platform Event Loop Threads"
                  default="0"/>
        <property name="02virtual"
                  type="java.lang.Integer"
                  display="Virtual Event Loops"
                  description="Active Virtual Event Loop Threads"
                  default="0"/>
        <property name="03adhoc"
                  type="java.lang.Integer"
                  display="Ad Hoc Virtual"
                  description="Active Virtual Ad Hoc Threads"
                  default="0"/>
      </entitytemplate>
    </entitylist>
  </configuration>
</swiftlet>
