<swiftlet name="sys$threadpool"
          displayname="Threadpool Swiftlet"
          class="com.swiftmq.impl.threadpool.standard.ThreadpoolSwiftletImpl"
          icon="/sys_threadpool/images/swiftlet.png"
          description="Threadpool Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval"
              description="Interval for collecting the Thread Counts per Pool"
              default="1000"/>
    <property name="adhoc-runner-virtual"
              type="java.lang.Boolean"
              display="Virtual Ad Hoc Thread Runner"
              description="Uses Virtual Threads for ad hoc Tasks"
              default="true"
              reboot-required="true"/>
    <entitylist name="pools" display="Pools" description="Threadpool Definitions">
      <entitytemplate name="pool" display="Pool" description="Threadpool Definition">
        <property name="kernel-pool"
                  type="java.lang.Boolean"
                  display="Kernel Pool"
                  description="Marked as a Kernel Pool or not"
                  default="false"
                  reboot-required="true"/>
        <property name="min-threads"
                  type="java.lang.Integer"
                  display="Minimum Threads"
                  description="Minimum Threads in this Pool"
                  min="0"
                  default="0"
                  reboot-required="true"/>
        <property name="max-threads"
                  type="java.lang.Integer"
                  display="Maximum Threads"
                  description="Maximum Threads in this Pool"
                  default="-1"
                  reboot-required="false"/>
        <property name="queue-length-threshold"
                  type="java.lang.Integer"
                  display="Queue Length Threshold"
                  description="Starts new Threads when the Queue Length reaches this Threshold"
                  min="1"
                  default="1"
                  reboot-required="false"/>
        <property name="additional-threads"
                  type="java.lang.Integer"
                  display="Additional Threads"
                  description="Number Threads to Startup after reaching Threshold"
                  min="1"
                  default="1"
                  reboot-required="false"/>
        <property name="priority"
                  type="java.lang.Integer"
                  display="Priority"
                  description="Priority for Threads in this Pool"
                  min="1"
                  max="10"
                  default="5"
                  reboot-required="true"/>
        <property name="idle-timeout"
                  type="java.lang.Long"
                  display="Idle Timeout"
                  description="Timeout for idling Threads in this Pool"
                  default="120000"
                  reboot-required="true"/>
        <entitylist name="threads" display="Threads" description="Thread Assignment Definitions">
          <entitytemplate name="thread" display="Thread" description="Thread Assignment Definition"/>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="layers" display="Layers" description="Thread Layers">
      <entitytemplate name="layer" display="Pool" description="Thread Layer Definition">
        <property name="priority"
                  type="java.lang.Integer"
                  display="Stop/Start Priority"
                  description="Stops/Starts this Layer according to this Priority (Stop: Lowest first, Start: Highest first)"
                  min="1"
                  default="1"
                  reboot-required="true"/>
        <entitylist name="eventloops" display="Event Loops" description="Event Loop Assignments">
          <entitytemplate name="eventloop" display="Event Loop" description="Name of the Event Loop">
            <property name="virtual"
                      type="java.lang.Boolean"
                      display="Virtual"
                      description="Uses a Virtual Threads for this Event Loop, otherwise a Platform Thread"
                      default="false"
                      read-only="true"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="usage" display="Usage" description="Thread Usage">
      <entitytemplate name="usage" display="Threads" description="Active Threads">
        <property name="01-platform"
                  type="java.lang.Integer"
                  display="Platform Threads"
                  description="Active Platform Threads"
                  default="0"/>
        <property name="02-virtual"
                  type="java.lang.Integer"
                  display="Virtual Threads"
                  description="Active Virtual Threads"
                  default="0"/>
        <property name="03-adhoc"
                  type="java.lang.Integer"
                  display="Ad Hoc Threads"
                  description="Active Ad Hoc Threads"
                  default="0"/>
      </entitytemplate>
    </entitylist>
  </configuration>
</swiftlet>
