<!--
  ~ Copyright 2019 IIT Software GmbH
  ~
  ~ IIT Software GmbH licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License. You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<swiftlet name="xt$bridge"
          displayname="JMS Bridge Extension Swiftlet"
          class="com.swiftmq.extension.bridge.JMSBridgeSwiftlet"
          icon="/xt_jmsbridge/images/swiftlet.png"
          description="JMS Bridge Extension Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval (ms)"
              description="Collect Interval (ms) for the Usage Section"
              default="10000"/>
    <entitylist name="servers"
                display="Server"
                description="Server Definitions">
      <entitytemplate name="server"
                      display="Server"
                      description="Server Definition">
        <property name="enabled"
                  type="java.lang.Boolean"
                  display="Enabled"
                  description="Enables/Disables this Server"
                  default="false"/>
        <property name="clientid"
                  type="java.lang.String"
                  display="Client Id"
                  description="Client Id for durable Subscribers"/>
        <property name="username"
                  type="java.lang.String"
                  display="Username"
                  description="Username"/>
        <property name="password"
                  type="java.lang.String"
                  display="Password"
                  description="Password"/>
        <property name="retryinterval"
                  type="java.lang.Long"
                  display="Retry Interval (ms)"
                  description="Retry Interval (ms) for Re-Connect"
                  default="60000"/>
        <entity name="objectfactory"
                display="Object Factory"
                description="Object Factory Definition">
          <property name="class"
                    type="java.lang.String"
                    display="Object Factory Class"
                    description="Object Factory Class"
                    mandatory="true"
                    default="com.swiftmq.extension.bridge.JNDIObjectFactory"/>
          <entitylist name="properties"
                      display="Object Factory Properties"
                      description="Object Factory Properties">
            <entitytemplate name="property"
                            display="Object Factory Property"
                            description="Object Factory Property">
              <property name="value"
                        type="java.lang.String"
                        display="Property Value"
                        description="Property Value"
                        mandatory="true"/>
            </entitytemplate>
          </entitylist>
        </entity>
        <entitylist name="bridgings"
                    display="JMS Bridgings"
                    description="JMS Bridging Definitions">
          <entitytemplate name="bridging"
                          display="JMS Bridging"
                          description="JMS Bridging Definition">
            <property name="direction"
                      type="java.lang.String"
                      display="Bridging Direction"
                      description="Bridging Direction"
                      choice="local_to_remote remote_to_local"
                      default="local_to_remote"
                      mandatory="true"/>
            <property name="localname"
                      type="java.lang.String"
                      display="Local Destination Name"
                      description="Name of the local Destination"
                      mandatory="true"/>
            <property name="localtype"
                      type="java.lang.String"
                      display="Local Destination Type"
                      description="Type of the local Destination"
                      choice="queue topic"
                      default="queue"
                      mandatory="true"/>
            <property name="remotefactoryname"
                      type="java.lang.String"
                      display="Remote Factory Name"
                      description="Name of the remote Queue/TopicConnectionFactory"
                      mandatory="true"/>
            <property name="remotename"
                      type="java.lang.String"
                      display="Remote Destination Name"
                      description="Name of the remote Destination"
                      mandatory="true"/>
            <property name="remotetype"
                      type="java.lang.String"
                      display="Remote Destination Type"
                      description="Type of the remote Destination"
                      choice="queue topic"
                      mandatory="true"/>
            <property name="durablename"
                      type="java.lang.String"
                      display="Durable Name"
                      description="Name of the durable Subscriber"/>
            <property name="transferpersistence"
                      type="java.lang.String"
                      display="Transfer Persistence"
                      description="Persistence Mode for Message Transfer"
                      choice="persistent nonpersistent as_source"
                      default="as_source"
                      mandatory="true"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="usage"
                display="Usage"
                description="Active Bridge Servers">
      <entitytemplate name="usage"
                      display="Active Bridge Server"
                      description="Active Bridge Servers">
        <property name="connecttime"
                  display="Connect Time"
                  description="Connect Time of this Server"
                  type="java.lang.String"/>
        <entitylist name="active-bridgings"
                    display="Active JMS Bridgings"
                    description="Active JMS Bridgings">
          <entitytemplate name="active-bridging"
                          display="Active JMS Bridge"
                          description="Active JMS Bridge">
            <property name="last-transfer-time"
                      display="Last Transfer Time"
                      description="Last Transfer Time"
                      type="java.lang.String"/>
            <property name="number-messages-transfered"
                      type="java.lang.Integer"
                      display="Number Messages transfered"
                      description="Number Messages transfered"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
  </configuration>
  <cli>
    <before-install>
      cc /sys$threadpool/pools
      new bridge.server
      cc /sys$threadpool/pools/bridge.server/threads
      new extension.xt$bridge.server.mgr
      cc /sys$threadpool/pools
      new bridge.source
      cc /sys$threadpool/pools/bridge.source/threads
      new extension.xt$bridge.source.queue
      new extension.xt$bridge.source.topic
    </before-install>
    <after-remove>
      cc /sys$threadpool/pools
      delete bridge.server
      delete bridge.source
    </after-remove>
  </cli>
</swiftlet>
