<swiftlet name="sys$scheduler"
					displayname="Scheduler Swiftlet"
					class="com.swiftmq.impl.scheduler.standard.SchedulerSwiftletImpl"
					icon="/sys_scheduler/images/swiftlet.png"
					description="Scheduler Swiftlet"
					release="${release}"
					vendor="IIT Software GmbH" >
	<configuration>
      <entitylist name="calendars"
                  display="Calendars"
                  description="Calendars"
                  icon="com/swiftmq/impl/scheduler/standard/images/calendar.png">
          <entitytemplate name="calendar"
                          display="Calendar"
                          description="Calendar"
                          icon="com/swiftmq/impl/scheduler/standard/images/calendar.png">
                <property name="type"
                          type="java.lang.String"
                          display="Calendar Type"
                          description="Calendar Type"
                          choice="include exclude"
                          default="exclude"/>
                <property name="base-calendar"
                          type="java.lang.String"
                          display="Base Calendar"
                          description="Calendar which is Base for this Calendar"/>
                <property name="enable-weekdays"
                          type="java.lang.Boolean"
                          display="Enable Week Days"
                          description="Enable Week Days on this Calendar"
                          default="false"/>
                <property name="enable-monthdays"
                          type="java.lang.Boolean"
                          display="Enable Month Days"
                          description="Enable Month Days on this Calendar"
                          default="false"/>
              <property name="enable-monthdays-last"
                        type="java.lang.Boolean"
                        display="Enable Last Month Day"
                        description="Enable Last Month Day on this Calendar"
                        default="false"/>
                <property name="enable-annualdays"
                          type="java.lang.Boolean"
                          display="Enable Annual Days"
                          description="Enable Annual Days on this Calendar"
                          default="false"/>
                <property name="enable-dateranges"
                          type="java.lang.Boolean"
                          display="Enable Dange Ranges"
                          description="Enable Dange Ranges on this Calendar"
                          default="false"/>
                <entity name="weekdays"
                        display="Week Days"
                        description="Week Days">
                      <property name="day-01"
                                type="java.lang.Boolean"
                                display="Sunday"
                                description="Sunday"
                                default="false" />
                      <property name="day-02"
                                type="java.lang.Boolean"
                                display="Monday"
                                description="Monday"
                                default="false" />
                      <property name="day-03"
                                type="java.lang.Boolean"
                                display="Tuesday"
                                description="Tuesday"
                                default="false" />
                      <property name="day-04"
                                type="java.lang.Boolean"
                                display="Wednesday"
                                description="Wednesday"
                                default="false" />
                      <property name="day-05"
                                type="java.lang.Boolean"
                                display="Thursday"
                                description="Thursday"
                                default="false" />
                      <property name="day-06"
                                type="java.lang.Boolean"
                                display="Friday"
                                description="Friday"
                                default="false" />
                      <property name="day-07"
                                type="java.lang.Boolean"
                                display="Saturday"
                                description="Saturday"
                                default="false" />
            </entity>
            <entity name="monthdays"
                    display="Month Days"
                    description="Month Days">
                  <property name="day-01"
                            type="java.lang.Boolean"
                            display="01."
                            description="01."
                            default="false" />
                  <property name="day-02"
                            type="java.lang.Boolean"
                            display="02."
                            description="02."
                            default="false" />
                  <property name="day-03"
                            type="java.lang.Boolean"
                            display="03."
                            description="03."
                            default="false" />
                  <property name="day-04"
                            type="java.lang.Boolean"
                            display="04."
                            description="04."
                            default="false" />
                  <property name="day-05"
                            type="java.lang.Boolean"
                            display="05."
                            description="05."
                            default="false" />
                  <property name="day-06"
                            type="java.lang.Boolean"
                            display="06."
                            description="06."
                            default="false" />
                  <property name="day-07"
                            type="java.lang.Boolean"
                            display="07."
                            description="07."
                            default="false" />
                  <property name="day-08"
                            type="java.lang.Boolean"
                            display="08."
                            description="08."
                            default="false" />
                  <property name="day-09"
                            type="java.lang.Boolean"
                            display="09."
                            description="09."
                            default="false" />
                  <property name="day-10"
                            type="java.lang.Boolean"
                            display="10."
                            description="10."
                            default="false" />
                  <property name="day-11"
                            type="java.lang.Boolean"
                            display="11."
                            description="11."
                            default="false" />
                  <property name="day-12"
                            type="java.lang.Boolean"
                            display="12."
                            description="12."
                            default="false" />
                  <property name="day-13"
                            type="java.lang.Boolean"
                            display="13."
                            description="13."
                            default="false" />
                  <property name="day-14"
                            type="java.lang.Boolean"
                            display="14."
                            description="14."
                            default="false" />
                  <property name="day-15"
                            type="java.lang.Boolean"
                            display="15."
                            description="15."
                            default="false" />
                  <property name="day-16"
                            type="java.lang.Boolean"
                            display="16."
                            description="16."
                            default="false" />
                  <property name="day-17"
                            type="java.lang.Boolean"
                            display="17."
                            description="17."
                            default="false" />
                  <property name="day-18"
                            type="java.lang.Boolean"
                            display="18."
                            description="18."
                            default="false" />
                  <property name="day-19"
                            type="java.lang.Boolean"
                            display="19."
                            description="19."
                            default="false" />
                  <property name="day-20"
                            type="java.lang.Boolean"
                            display="20."
                            description="20."
                            default="false" />
                  <property name="day-21"
                            type="java.lang.Boolean"
                            display="21."
                            description="21."
                            default="false" />
                  <property name="day-22"
                            type="java.lang.Boolean"
                            display="22."
                            description="22."
                            default="false" />
                  <property name="day-23"
                            type="java.lang.Boolean"
                            display="23."
                            description="23."
                            default="false" />
                  <property name="day-24"
                            type="java.lang.Boolean"
                            display="24."
                            description="24."
                            default="false" />
                  <property name="day-25"
                            type="java.lang.Boolean"
                            display="25."
                            description="25."
                            default="false" />
                  <property name="day-26"
                            type="java.lang.Boolean"
                            display="26."
                            description="26."
                            default="false" />
                  <property name="day-27"
                            type="java.lang.Boolean"
                            display="27."
                            description="27."
                            default="false" />
                  <property name="day-28"
                            type="java.lang.Boolean"
                            display="28."
                            description="28."
                            default="false" />
                  <property name="day-29"
                            type="java.lang.Boolean"
                            display="29."
                            description="29."
                            default="false" />
                  <property name="day-30"
                            type="java.lang.Boolean"
                            display="30."
                            description="30."
                            default="false" />
                  <property name="day-31"
                            type="java.lang.Boolean"
                            display="31."
                            description="31."
                            default="false" />
                  <property name="last"
                            type="java.lang.Boolean"
                            display="Last"
                            description="Last Day in Month"
                            default="false" />
            </entity>
            <entitylist name="annualdays"
                            display="Annual Days"
                            description="Annual Days" >
                <entitytemplate name="annualday"
                            display="Annual Day"
                            description="Annual Day" >
                    <property name="day"
                              type="java.lang.String"
                              display="Day"
                              description="Day"
                              choice="01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31"
                              mandatory="true"
                              read-only="true" />
                    <property name="month"
                              type="java.lang.String"
                              display="Month"
                              description="Month"
                              choice="January February March April May June July August September October November December"
                              mandatory="true"
                              read-only="true" />
                </entitytemplate>
            </entitylist>
            <entitylist name="date-ranges"
                            display="Date Ranges"
                            description="Date Ranges" >
                <entitytemplate name="date-range"
                            display="Date Range"
                            description="Date Range" >
                  <property name="from"
                            type="java.lang.String"
                            display="From Date [yyyy-mm-dd]"
                            description="From Date"
                            mandatory="true"
                            read-only="true" />
                  <property name="to"
                            type="java.lang.String"
                            display="To Date [yyyy-mm-dd]"
                            description="To Date"
                            mandatory="true"
                            read-only="true" />
                </entitytemplate>
            </entitylist>
          </entitytemplate>
       </entitylist>
      <entitylist name="schedules"
                      display="Job Schedules"
                      description="Job Schedules"
                      icon="com/swiftmq/impl/scheduler/standard/images/triggers.png">
          <entitytemplate name="schedule"
                      display="Job Schedule"
                      description="Job Schedule"
                      icon="com/swiftmq/impl/scheduler/standard/images/trigger.png">
            <property name="enabled"
                      type="java.lang.Boolean"
                      display="Enabled"
                      description="Schedule enabled/disabled"
                      default="false"
                      mandatory="false" />
            <property name="logging-enabled"
                      type="java.lang.Boolean"
                      display="Logging Enabled"
                      description="If true, start/stop are logged in SwiftMQ's log file"
                      default="false"
                      mandatory="false" />
            <property name="calendar"
                      type="java.lang.String"
                      display="Calendar"
                      description="Apply this Calendar"
                      mandatory="false" />
            <property name="job-group"
                      type="java.lang.String"
                      display="Job Group"
                      description="Job Group"
                      read-only="true"
                      mandatory="true" />
            <property name="job-name"
                      type="java.lang.String"
                      display="Job Name"
                      description="Job Name"
                      read-only="true"
                      mandatory="true" />
            <property name="date-from"
                      type="java.lang.String"
                      display="From Date [yyyy-MM-dd]"
                      description="From Date"
                      default="now"
                      mandatory="true" />
            <property name="date-to"
                      type="java.lang.String"
                      display="To Date [yyyy-MM-dd]"
                      description="To Date"
                      default="forever"
                      mandatory="true" />
            <property name="max-runtime"
                      type="java.lang.String"
                      display="Max. Runtime"
                      description="n('s'|'m'|'h'), e.g. 30m"
                      mandatory="false" />
            <property name="time-expression"
                      type="java.lang.String"
                      display="Time Expression"
                      description="('at' HH:mm[:ss][, HH:mm[:ss]...]) | ('start' HH:mm[:ss] 'stop' HH:mm[:ss] 'delay' n('s'|'m'|'h' ['repeat' n])"
                      mandatory="true" />
            <entitylist name="parameters"
                            display="Parameters"
                            description="Parameters" >
                <entitytemplate name="parameter"
                            display="Parameter"
                            description="Parameter" >
                  <property name="value"
                            type="java.lang.String"
                            display="Value"
                            description="Value"
                            mandatory="true"
                            read-only="true"/>
                </entitytemplate>
            </entitylist>
          </entitytemplate>
      </entitylist>
      <entity name="usage"
                      display="Usage"
                      description="Usage" >
        <entitylist name="job-groups"
                        display="Registered Job Groups"
                        description="Registered Job Groups" >
            <entitytemplate name="job-group"
                        display="Registered Job Group"
                        description="Registered Job Group" >
              <entitylist name="jobs"
                              display="Registered Jobs"
                              description="Registered Jobs" >
                  <entitytemplate name="job"
                              display="Registered Job"
                              description="Registered Job" >
                    <property name="description"
                              type="java.lang.String"
                              display="Description"
                              description="Description"
                              read-only="true"/>
                    <entitylist name="parameters"
                                    display="Job Parameters"
                                    description="Job Parameters" >
                        <entitytemplate name="parameter"
                                    display="Job Parameter"
                                    description="Job Parameter" >
                          <property name="description"
                                    type="java.lang.String"
                                    display="Description"
                                    description="Description"
                                    read-only="true"/>
                          <property name="default"
                                    type="java.lang.String"
                                    display="Default Value"
                                    description="Default Value"
                                    read-only="true"/>
                          <property name="mandatory"
                                    type="java.lang.Boolean"
                                    display="Mandatory"
                                    description="Mandatory"
                                    read-only="true"/>
                        </entitytemplate>
                    </entitylist>
                  </entitytemplate>
              </entitylist>
            </entitytemplate>
        </entitylist>
        <entitylist name="active-job-schedules"
                        display="Active Job Schedules"
                        description="Active Job Schedules" >
            <entitytemplate name="active-schedule"
                        display="Active Job Schedule"
                        description="Active Job Schedule" >
              <property name="job-group"
                        type="java.lang.String"
                        display="Job Group"
                        description="Job Group"
                        read-only="true" />
              <property name="job-name"
                        type="java.lang.String"
                        display="Job Name"
                        description="Job Name"
                        read-only="true" />
              <property name="state"
                        type="java.lang.String"
                        display="State"
                        description="State"
                        read-only="true" />
              <property name="next-start"
                        type="java.lang.String"
                        display="Next Start"
                        description="Next Start"
                        read-only="true" />
              <property name="next-stop"
                        type="java.lang.String"
                        display="Next Stop"
                        description="Next Stop"
                        read-only="true" />
              <entitylist name="history"
                              display="History"
                              description="History" >
                  <entitytemplate name="history"
                              display="History"
                              description="History" >
                    <property name="logtime"
                              type="java.lang.String"
                              display="Time"
                              description="Time"
                              read-only="true" />
                    <property name="state"
                              type="java.lang.String"
                              display="State"
                              description="State"
                              read-only="true" />
                    <property name="xception"
                              type="java.lang.String"
                              display="Message"
                              description="Message"
                              read-only="true" />
                  </entitytemplate>
              </entitylist>
            </entitytemplate>
        </entitylist>
        <entitylist name="active-message-schedules"
                        display="Active Message Schedules"
                        description="Active Message Schedules" >
            <entitytemplate name="active-message-schedule"
                        display="Active Message Schedule"
                        description="Active Message Schedule" >
              <property name="state"
                        type="java.lang.String"
                        display="State"
                        description="State"
                        read-only="true" />
              <property name="next-start"
                        type="java.lang.String"
                        display="Next Start"
                        description="Next Start"
                        read-only="true" />
              <property name="next-stop"
                        type="java.lang.String"
                        display="Next Stop"
                        description="Next Stop"
                        read-only="true" />
              <property name="schedule-date-from"
                        type="java.lang.String"
                        display="Date From"
                        description="Date From"
                        read-only="true" />
              <property name="schedule-date-to"
                        type="java.lang.String"
                        display="Date To"
                        description="Date To"
                        read-only="true" />
              <property name="schedule-calendar"
                        type="java.lang.String"
                        display="Calendar"
                        description="Calendar"
                        read-only="true" />
              <property name="schedule-logging-enabled"
                        type="java.lang.Boolean"
                        display="Logging Enabled"
                        description="Logging Enabled"
                        read-only="true" />
              <property name="schedule-time-expression"
                        type="java.lang.String"
                        display="Time Expression"
                        description="Time Expression"
                        read-only="true" />
              <entitylist name="history"
                              display="History"
                              description="History" >
                  <entitytemplate name="history"
                              display="History"
                              description="History" >
                    <property name="logtime"
                              type="java.lang.String"
                              display="Time"
                              description="Time"
                              read-only="true" />
                    <property name="state"
                              type="java.lang.String"
                              display="State"
                              description="State"
                              read-only="true" />
                    <property name="xception"
                              type="java.lang.String"
                              display="Message"
                              description="Message"
                              read-only="true" />
                  </entitytemplate>
              </entitylist>
            </entitytemplate>
        </entitylist>
      </entity>
	</configuration>
</swiftlet>
