<swiftlet name="sys$queuemanager"
          displayname="Queue Manager Swiftlet"
          class="com.swiftmq.impl.queue.standard.QueueManagerImpl"
          icon="/sys_queuemanager/images/swiftlet.png"
          description="Queue Manager"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval"
              description="Interval for collecting the Number of Messages per Queue"
              default="1000"/>
    <property name="cluster-metric-interval"
              type="java.lang.Long"
              display="Cluster Metric Interval"
              description="Interval for sending metrics about clustered queues"
              default="10000"
              min="1000"/>
    <property name="max-flowcontrol-delay"
              type="java.lang.Long"
              display="Maximum Flow Control Delay"
              description="Maximum Flow Control Delay"
              default="5000"
              reboot-required="true"/>
    <property name="log-expired-messages"
              type="java.lang.Boolean"
              display="Log Expired Messages"
              description="Log Expired Messages to the 'Warning' Log File"
              default="false"/>
    <property name="log-duplicate-messages"
              type="java.lang.Boolean"
              display="Log Duplicate Messages"
              description="Log Duplicate Messages to the 'Warning' Log File"
              default="false"/>
    <property name="deliver-expired-messages"
              type="java.lang.Boolean"
              display="Deliver Expired Messages"
              description="Deliver Expired Messages to Clients"
              default="false"/>
    <property name="cluster-topic"
              type="java.lang.String"
              display="Cluster Message Exchange Topic"
              description="Cluster Message Exchange Topic"
              default="swiftmq.cluster"
              reboot-required="true"/>
    <property name="multi-queue-transaction-global-lock"
              type="java.lang.Boolean"
              display="Multi Queue Transaction Global Lock"
              description="Use a global lock for multi Queue Transactions"
              default="false"/>
    <entitylist name="queue-controllers"
                display="System Queue Controllers"
                description="Controllers for System Queues">
      <entitytemplate name="queue-controller"
                      display="System Queue Controller"
                      description="System Queue Controller">
        <property name="predicate"
                  type="java.lang.String"
                  display="Predicate"
                  description="Queue Name SQL-Like Predicate"
                  mandatory="true"/>
        <property name="cache-size"
                  type="java.lang.Integer"
                  display="Cache Size"
                  description="Message Queue Cache Size"
                  default="500"/>
        <property name="cache-size-bytes-kb"
                  type="java.lang.Integer"
                  display="Cache Size Bytes (KB)"
                  description="Message Queue Cache Size Bytes (KB)"
                  default="-1"/>
        <property name="cleanup-interval"
                  display="Cleanup Interval"
                  description="Interval to check for expired Messages"
                  type="java.lang.Long"
                  default="120000"/>
        <property name="flowcontrol-start-queuesize"
                  type="java.lang.Integer"
                  display="Flow Control Start Queue Size"
                  description="Flow Control starts at this Queue Size"
                  default="400"/>
        <property name="max-messages"
                  display="Maximum Messages"
                  description="Max. Messages for this Queue"
                  type="java.lang.Integer"
                  default="-1"/>
        <property name="persistence-mode"
                  display="Queue Persistence"
                  description="Persistence Mode of this Queue"
                  type="java.lang.String"
                  choice="as_message persistent non_persistent"
                  default="as_message"/>
        <property name="consumer-mode"
                  display="Consumer Mode"
                  description="Consumer Mode"
                  type="java.lang.String"
                  choice="shared exclusive activestandby"
                  default="shared"/>
        <property name="duplicate-detection-enabled"
                  display="Duplicate Detection Enabled"
                  description="Enables/Diables Duplicate Message Detection"
                  type="java.lang.Boolean"
                  default="true"/>
        <property name="duplicate-detection-backlog-size"
                  display="Duplicate Detection Backlog Size"
                  description="Size of the Backlog for Duplicate Message Detection"
                  type="java.lang.Integer"
                  default="2000"/>
        <property name="monitor-alert-threshold"
                  display="Monitor Alert Threshold"
                  description="Threshold in Number of Messages after which the Monitor Swiftlet sends a Queue Monitor Alert"
                  type="java.lang.Integer"
                  default="-1"/>
      </entitytemplate>
    </entitylist>
    <entitylist name="clustered-queues"
                display="Clustered Queues"
                description="Clustered Queues">
      <entitytemplate name="clustered-queue"
                      display="Clustered Queue"
                      description="Clustered Queue">
        <property name="message-group-enabled"
                  display="Message Group Enabled"
                  description="Enables/Diables grouping of Messages"
                  type="java.lang.Boolean"
                  default="false"/>
        <property name="message-group-property"
                  type="java.lang.String"
                  display="Message Group Property"
                  description="Name of Property to group Messages"
                  default="JMSXGroupID"/>
        <property name="message-group-expiration"
                  type="java.lang.Long"
                  display="Message Group Expiration (ms)"
                  description="Time (ms) after the last occurance after which a message group expires"
                  default="-1"/>
        <property name="message-group-expiration-cleanup-interval"
                  type="java.lang.Long"
                  display="Message Group Expiration Cleanup Interval (ms)"
                  description="Interval (ms) in which message groups are checked for expiration"
                  default="-1"/>
        <entitylist name="queue-bindings"
                    display="Queue Bindings"
                    description="Queue Bindings">
          <entitytemplate name="queue-binding"
                          display="Queue Binding"
                          description="Queue Binding">
            <property name="redispatch-enabled"
                      display="Redispatch Enabled"
                      description="Enables/Diables Redispatch of Messages if no Consumer is attached"
                      type="java.lang.Boolean"
                      default="true"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="composite-queues"
                display="Composite Queues"
                description="Composite Queues">
      <entitytemplate name="composite-queue"
                      display="Composite Queue"
                      description="Composite Queue">
        <entitylist name="queue-bindings"
                    display="Queue Bindings"
                    description="Queue Bindings">
          <entitytemplate name="queue-binding"
                          display="Queue Binding"
                          description="Queue Binding">
            <property name="message-selector"
                      display="Message Selector"
                      description="Optional Selector to filter messages for this Binding"
                      type="java.lang.String"/>
            <property name="generate-new-message-id"
                      display="Generate new Message Id"
                      description="Generates a new Message Id for this Binding's Message Copies"
                      type="java.lang.Boolean"
                      default="false"/>
            <property name="change-destination"
                      display="Change Destination"
                      description="Changes the JMS Destination of Message Copies to the Bindung Queue"
                      type="java.lang.Boolean"
                      default="false"/>
            <property name="default-delivery"
                      display="Default Delivery"
                      description="A defaut delivery gets the message if no other binding matches."
                      type="java.lang.Boolean"
                      default="false"/>
          </entitytemplate>
        </entitylist>
        <entitylist name="topic-bindings"
                    display="Topic Bindings"
                    description="Topic Bindings">
          <entitytemplate name="topic-binding"
                          display="Topic Binding"
                          description="Topic Binding">
            <property name="message-selector"
                      display="Message Selector"
                      description="Optional Selector to filter messages for this Binding"
                      type="java.lang.String"/>
            <property name="generate-new-message-id"
                      display="Generate new Message Id"
                      description="Generates a new Message Id for this Binding's Message Copies"
                      type="java.lang.Boolean"
                      default="false"/>
            <property name="default-delivery"
                      display="Default Delivery"
                      description="A defaut delivery gets the message if no other binding matches."
                      type="java.lang.Boolean"
                      default="false"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="queues"
                display="Queues"
                description="Queue Definitions">
      <entitytemplate name="queue"
                      display="Queue"
                      description="Queue Definition">
        <property name="cache-size"
                  type="java.lang.Integer"
                  display="Cache Size"
                  description="Message Queue Cache Size"
                  default="500"/>
        <property name="cache-size-bytes-kb"
                  type="java.lang.Integer"
                  display="Cache Size Bytes (KB)"
                  description="Message Queue Cache Size Bytes (KB)"
                  default="-1"/>
        <property name="cleanup-interval"
                  display="Cleanup Interval"
                  description="Interval to check for expired Messages"
                  type="java.lang.Long"
                  default="120000"/>
        <property name="max-messages"
                  display="Maximum Messages"
                  description="Max. Messages for this Queue"
                  type="java.lang.Integer"
                  default="-1"/>
        <property name="persistence-mode"
                  display="Queue Persistence"
                  description="Persistence Mode of this Queue"
                  type="java.lang.String"
                  choice="as_message persistent non_persistent"
                  default="as_message"/>
        <property name="consumer-mode"
                  display="Consumer Mode"
                  description="Consumer Mode"
                  type="java.lang.String"
                  choice="shared exclusive activestandby"
                  default="shared"/>
        <property name="flowcontrol-start-queuesize"
                  type="java.lang.Integer"
                  display="Flow Control Start Queue Size"
                  description="Flow Control starts at this Queue Size"
                  default="400"/>
        <property name="duplicate-detection-enabled"
                  display="Duplicate Detection Enabled"
                  description="Enables/Diables Duplicate Message Detection"
                  type="java.lang.Boolean"
                  default="true"/>
        <property name="duplicate-detection-backlog-size"
                  display="Duplicate Detection Backlog Size"
                  description="Size of the Backlog for Duplicate Message Detection"
                  type="java.lang.Integer"
                  default="2000"/>
        <property name="monitor-alert-threshold"
                  display="Monitor Alert Threshold"
                  description="Threshold in Number of Messages after which the Monitor Swiftlet sends a Queue Monitor Alert"
                  type="java.lang.Integer"
                  default="-1"/>
      </entitytemplate>
    </entitylist>
    <entitylist name="usage"
                display="Usage"
                description="Active Queues"
                dynamic-properties="msg-consume-rate msg-produce-rate">
      <entitytemplate name="usage"
                      display="Active Queue"
                      description="Active Queue">
        <property name="acache-size"
                  type="java.lang.Integer"
                  display="Max. Cache Size Messages"
                  description="Max. Cache Size Messages"
                  default="0"/>
        <property name="acache-size-kb"
                  type="java.lang.Integer"
                  display="Max. Cache Size (KB)"
                  description="Max. Cache Size (KB)"
                  default="0"/>
        <property name="acleanup-interval"
                  display="Cleanup Interval"
                  description="Interval for checking of msg expiration"
                  type="java.lang.Long"
                  default="0"/>
        <property name="aflowcontrol-start-queuesize"
                  type="java.lang.Integer"
                  display="FC Start"
                  description="Flow Control starts at this Queue Size"
                  default="0"/>
        <property name="amax-messages"
                  display="Max. Messages"
                  description="Max. Messages for this Queue"
                  type="java.lang.Integer"
                  default="-1"/>
        <property name="flowcontrol-delay"
                  display="FC Delay"
                  description="Current Flow Control Delay"
                  type="java.lang.Long"
                  default="0"/>
        <property name="mcache-messages"
                  type="java.lang.Integer"
                  display="Current Cache Size Messages"
                  description="Number Messages in Cache"
                  default="0"/>
        <property name="mcache-size-kb"
                  type="java.lang.Integer"
                  display="Current Cache Size (KB)"
                  description="Current Cache Size (KB)"
                  default="0"/>
        <property name="messagecount"
                  type="java.lang.Integer"
                  display="Message Count"
                  description="Number Messages of this Queue"
                  default="0"/>
          <property name="msg-consume-rate"
                    display="Consumed Msgs/s "
                    description="Messages/Sec consumed from Queue"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="msg-produce-rate"
                    display="Produced Msgs/s"
                    description="Messages/Sec produced to Queue"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="total-consumed"
                    display="Total Consumed Msgs"
                    description="Total Number of Messages consumed from Queue"
                    type="java.lang.Integer"
                    default="0"/>
          <property name="total-produced"
                    display="Total Produced Msgs"
                    description="Total Number of Messages produced to Queue"
                    type="java.lang.Integer"
                    default="0"/>
        <entitylist name="receiver"
                    display="Queue Receiver"
                    description="Active Queue Receiver">
          <entitytemplate name="receiver"
                          display="Active Queue Receiver"
                          description="Active Queue Receiver">
            <property name="username"
                      type="java.lang.String"
                      display="User Name"
                      description="User Name"/>
            <property name="clientid"
                      type="java.lang.String"
                      display="Client Id"
                      description="Client Id"/>
            <property name="selector"
                      type="java.lang.String"
                      display="Message Selector"
                      description="Message Selector"/>
          </entitytemplate>
        </entitylist>
        <entitylist name="sender"
                    display="Queue Sender"
                    description="Active Queue Sender">
          <entitytemplate name="sender"
                          display="Active Queue Sender"
                          description="Active Queue Sender">
            <property name="username"
                      type="java.lang.String"
                      display="User Name"
                      description="User Name"/>
            <property name="clientid"
                      type="java.lang.String"
                      display="Client Id"
                      description="Client Id"/>
          </entitytemplate>
        </entitylist>
        <entitylist name="browser"
                    display="Queue Browser"
                    description="Active Queue Browser">
          <entitytemplate name="browser"
                          display="Active Queue Browser"
                          description="Active Queue Browser">
            <property name="username"
                      type="java.lang.String"
                      display="User Name"
                      description="User Name"/>
            <property name="clientid"
                      type="java.lang.String"
                      display="Client Id"
                      description="Client Id"/>
            <property name="selector"
                      type="java.lang.String"
                      display="Message Selector"
                      description="Message Selector"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
  </configuration>
</swiftlet>
