<swiftlet name="sys$jms"
          displayname="JMS Swiftlet"
          class="com.swiftmq.impl.jms.standard.JMSSwiftlet"
          icon="/sys_jms/images/swiftlet.png"
          description="JMS Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
    <property name="allow-same-clientid"
              type="java.lang.Boolean"
              display="Allow same Client Id"
              description="Allows multiple connection with the same JMS Client Id if set to true"
              default="false"/>
    <property name="collect-interval"
              type="java.lang.Long"
              display="Collect Interval"
              description="Collect Interval Messages/Sec"
              default="10000"/>
    <property name="max-connections"
              type="java.lang.Integer"
              display="Max. Connections"
              description="Maximum JMS Connections"
              default="-1"/>
    <property name="consumer-cache-low-water-mark"
              type="java.lang.Integer"
              display="Consumer Cache Low Water Mark (Messages)"
              description="Consumer caches are refilled when reaching this mark"
              min="0"
              default="100"/>
    <property name="crfactory-class"
              type="java.lang.String"
              display="C/R Factory Class"
              description="Challenge/Response Factory Class"
              reboot-required="true"
              default="com.swiftmq.auth.ChallengeResponseFactoryImpl"/>
    <entitylist name="intravm-connection-factories"
                display="IntraVM Connection Factories"
                description="IntraVM Connection Factories">
      <entitytemplate name="intravm-connection-factory"
                      display="IntraVM Connection Factory"
                      description="IntraVM Connection Factory">
        <property name="smqp-producer-reply-interval"
                  read-only="true"
                  type="java.lang.Integer"
                  display="SMQP Producer Reply Interval"
                  description="Number of SMQP Requests after which a SMQP Reply is required"
                  mandatory="true"
                  min="1"
                  default="20"/>
        <property name="smqp-consumer-cache-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="SMQP Consumer Cache Size"
                  description="Cache Size per Consumer (Messages)"
                  mandatory="true"
                  min="1"
                  default="500"/>
          <property name="smqp-consumer-cache-size-kb"
                    read-only="true"
                    type="java.lang.Integer"
                    display="SMQP Consumer Cache Size (KB)"
                    description="Cache Size per Consumer (KB)"
                    mandatory="true"
                    default="2048"/>
        <property name="jms-client-id"
                  read-only="true"
                  type="java.lang.String"
                  display="JMS Client Id"
                  description="JMS Client Id for durable Subscribers"/>
        <property name="jms-default-delivery-mode"
                  read-only="true"
                  type="java.lang.String"
                  display="JMS Default Delivery Mode"
                  description="JMS Default Delivery Mode"
                  mandatory="true"
                  choice="persistent non_persistent"
                  default="persistent"/>
        <property name="jms-default-message-ttl"
                  read-only="true"
                  type="java.lang.Long"
                  display="JMS Default Message TTL"
                  description="JMS Default Message TTL"
                  mandatory="true"
                  min="0"
                  default="0"/>
        <property name="jms-default-message-priority"
                  read-only="true"
                  type="java.lang.Integer"
                  display="JMS Default Message Priority"
                  description="JMS Default Message Priority"
                  mandatory="true"
                  min="0"
                  max="9"
                  default="4"/>
        <property name="jms-default-message-id-enabled"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="JMS Default Message Id Enabled"
                  description="JMS Default Message Id Enabled"
                  default="true"/>
        <property name="jms-default-message-timestamp-enabled"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="JMS Default Message Timestamp Enabled"
                  description="JMS Default Message Timestamp Enabled"
                  default="true"/>
        <property name="thread-context-classloader-for-getobject"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="Thread Context Classloader for getObject()"
                  description="Use the Thread Context Classloader for getObject()"
                  default="false"/>
      </entitytemplate>
    </entitylist>
    <entitylist name="listeners"
                display="Listeners"
                description="Listener Definitions">
      <entitytemplate name="listener"
                      display="Listener"
                      description="Listener Definition">
        <property name="connectaddress"
                  read-only="true"
                  type="java.lang.String"
                  display="Connect IP Address (NAT)"
                  description="Listener Connect IP Address for NAT"/>
        <property name="connectport"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Connect Port (NAT)"
                  description="Listener Connect Port for NAT"
                  mandatory="false"
                  default="-1"/>
        <property name="bindaddress"
                  read-only="true"
                  type="java.lang.String"
                  display="Bind IP Address"
                  description="Listener Bind IP Address"/>
        <property name="port"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Port"
                  description="Listener Port"
                  mandatory="true"/>
        <property name="hostname2"
                  read-only="true"
                  type="java.lang.String"
                  display="Hostname 2nd HA Instance"
                  description="Hostname of the 2nd HA Instance"/>
        <property name="connectaddress2"
                  read-only="true"
                  type="java.lang.String"
                  display="Connect IP Address (NAT) 2nd HA Instance"
                  description="Listener Connect IP Address for NAT of the 2nd HA Instance"/>
        <property name="connectport2"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Connect Port (NAT) 2nd HA Instance"
                  description="Listener Connect Port for NAT of the 2nd HA Instance"
                  mandatory="false"
                  default="-1"/>
        <property name="bindaddress2"
                  read-only="true"
                  type="java.lang.String"
                  display="Bind IP Address 2nd HA Instance"
                  description="Listener Bind IP Address of the 2nd HA Instance"/>
        <property name="port2"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Port 2nd HA Instance"
                  description="Listener Port 2nd HA Instance of the 2nd HA Instance"
                  default="-1"/>
        <property name="use-tcp-no-delay"
                  read-only="true"
                  type="java.lang.Boolean"
                  display="Use TCP No Delay"
                  description="Use Tcp No Delay"
                  default="true"
                  mandatory="true"/>
        <property name="socketfactory-class"
                  read-only="true"
                  type="java.lang.String"
                  display="Socketfactory Class"
                  description="Listener Socketfactory Class"
                  default="com.swiftmq.net.PlainSocketFactory"/>
        <property name="keepalive-interval"
                  read-only="true"
                  type="java.lang.Long"
                  display="Keep Alive Interval"
                  description="Interval for sending Keep Alive Messages"
                  default="60000"/>
          <property name="max-connections"
                    type="java.lang.Integer"
                    display="Max. Connections"
                    description="Maximum JMS Connections for this Listener"
                    default="-1"/>
        <property name="router-input-buffer-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Router Network Input Buffer Size"
                  description="Router Network Input Buffer Size"
                  mandatory="false"
                  min="1024"
                  default="131072"/>
        <property name="router-input-extend-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Router Network Input Extend Size"
                  description="Router Network Input Extend Size"
                  mandatory="false"
                  min="1024"
                  default="65536"/>
        <property name="router-output-buffer-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Router Network Output Buffer Size"
                  description="Router Network Output Buffer Size"
                  mandatory="false"
                  min="1024"
                  default="131072"/>
        <property name="router-output-extend-size"
                  read-only="true"
                  type="java.lang.Integer"
                  display="Router Network Output Extend Size"
                  description="Router Network Output Extend Size"
                  mandatory="false"
                  min="1024"
                  default="65536"/>
        <entitylist name="host-access-list"
                    display="Host Access List"
                    description="Host Access List">
          <entitytemplate name="host-access-entry"
                          display="Host Access Entry"
                          description="Host Access Entry">
          </entitytemplate>
        </entitylist>
        <entitylist name="connection-factories"
                    display="Connection Factories"
                    description="Connection Factories">
          <entitytemplate name="connection-factory"
                          display="Connection Factory"
                          description="Connection Factory">
            <property name="reconnect-enabled"
                      read-only="true"
                      type="java.lang.Boolean"
                      display="Reconnect Enabled"
                      description="Reconnect Enabled"
                      default="true"/>
            <property name="reconnect-max-retries"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Reconnect Max. Retries"
                      description="Maximum Retries for Reconnect"
                      default="10"/>
            <property name="reconnect-delay"
                      read-only="true"
                      type="java.lang.Long"
                      display="Reconnect Delay (ms)"
                      description="Reconnect Delay in ms"
                      default="10000"/>
            <property name="duplicate-message-detection"
                      read-only="true"
                      type="java.lang.Boolean"
                      display="Duplicate Message Detection"
                      description="Enables Duplicate Message Detection for Consumers"
                      default="true"/>
            <property name="duplicate-backlog-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Duplicate Backlog Size"
                      description="Max. Number of Entries of JMS Message IDs in the Duplicate Backlog"
                      default="2000"/>
            <property name="client-input-buffer-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Client Network Input Buffer Size"
                      description="Client Network Input Buffer Size"
                      mandatory="false"
                      min="1024"
                      default="131072"/>
            <property name="client-input-extend-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Client Network Input Extend Size"
                      description="Client Network Input Extend Size"
                      mandatory="false"
                      min="1024"
                      default="65536"/>
            <property name="client-output-buffer-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Client Network Output Buffer Size"
                      description="Client Network Output Buffer Size"
                      mandatory="false"
                      min="1024"
                      default="131072"/>
            <property name="client-output-extend-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="Client Network Output Extend Size"
                      description="Client Network Output Extend Size"
                      mandatory="false"
                      min="1024"
                      default="131072"/>
            <property name="smqp-producer-reply-interval"
                      read-only="true"
                      type="java.lang.Integer"
                      display="SMQP Producer Reply Interval"
                      description="Number of SMQP Requests after which a SMQP Reply is required"
                      mandatory="true"
                      min="1"
                      default="20"/>
            <property name="smqp-consumer-cache-size"
                      read-only="true"
                      type="java.lang.Integer"
                      display="SMQP Consumer Cache Size"
                      description="Cache Size per Consumer (Messages)"
                      mandatory="true"
                      min="1"
                      default="500"/>
              <property name="smqp-consumer-cache-size-kb"
                        read-only="true"
                        type="java.lang.Integer"
                        display="SMQP Consumer Cache Size (KB)"
                        description="Cache Size per Consumer (KB)"
                        mandatory="true"
                        default="2048"/>
            <property name="jms-client-id"
                      read-only="true"
                      type="java.lang.String"
                      display="JMS Client Id"
                      description="JMS Client Id for durable Subscribers"/>
            <property name="jms-default-delivery-mode"
                      read-only="true"
                      type="java.lang.String"
                      display="JMS Default Delivery Mode"
                      description="JMS Default Delivery Mode"
                      mandatory="true"
                      choice="persistent non_persistent"
                      default="persistent"/>
            <property name="jms-default-message-ttl"
                      read-only="true"
                      type="java.lang.Long"
                      display="JMS Default Message TTL"
                      description="JMS Default Message TTL"
                      mandatory="true"
                      min="0"
                      default="0"/>
            <property name="jms-default-message-priority"
                      read-only="true"
                      type="java.lang.Integer"
                      display="JMS Default Message Priority"
                      description="JMS Default Message Priority"
                      mandatory="true"
                      min="0"
                      max="9"
                      default="4"/>
            <property name="jms-default-message-id-enabled"
                      read-only="true"
                      type="java.lang.Boolean"
                      display="JMS Default Message Id Enabled"
                      description="JMS Default Message Id Enabled"
                      default="true"/>
            <property name="jms-default-message-timestamp-enabled"
                      read-only="true"
                      type="java.lang.Boolean"
                      display="JMS Default Message Timestamp Enabled"
                      description="JMS Default Message Timestamp Enabled"
                      default="true"/>
            <property name="thread-context-classloader-for-getobject"
                      read-only="true"
                      type="java.lang.Boolean"
                      display="Thread Context Classloader for getObject()"
                      description="Use the Thread Context Classloader for getObject()"
                      default="false"/>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
    <entitylist name="usage"
                display="Usage"
                description="Active JMS Connections"
                dynamic-properties="msgs-received msgs-sent">
      <entitytemplate name="usage"
                      display="Active JMS Connection"
                      description="Active JMS Connection">
        <property name="version"
                  type="java.lang.Integer"
                  display="Version"
                  description="Version"/>
        <property name="clientid"
                  type="java.lang.String"
                  display="Client Id"
                  description="Client Id"/>
        <property name="username"
                  display="User Name"
                  description="User Name"
                  type="java.lang.String"/>
        <property name="logintime"
                  display="Login Time"
                  description="Login Time"
                  type="java.lang.String"/>
        <property name="msgs-received"
                  display="Received Msgs/s "
                  description="Messages/Sec received from Client"
                  type="java.lang.Integer"
                  default="0"/>
        <property name="msgs-sent"
                  display="Sent Msgs/s"
                  description="Messages/Sec sent from Client"
                  type="java.lang.Integer"
                  default="0"/>
        <property name="total-received"
                  display="Total Received Msgs"
                  description="Total Number of Messages received from Connection"
                  type="java.lang.Integer"
                  default="0"/>
        <property name="total-sent"
                  display="Total Sent Msgs"
                  description="Total Number of Messages sent from Connection"
                  type="java.lang.Integer"
                  default="0"/>
        <entitylist name="tempqueues"
                    display="Temporary Queues"
                    description="Temporary Queues created by this Connection">
          <entitytemplate name="tempqueue"
                          display="Temporary Queue"
                          description="Temporary Queue">
          </entitytemplate>
        </entitylist>
        <entitylist name="sessions"
                    display="JMS Sessions"
                    description="JMS Sessions created by this Connection">
          <entitytemplate name="tempqueue"
                          display="JMS Session"
                          description="JMS Session">
            <property name="transacted"
                      display="Transacted"
                      description="Transacted JMS Session"
                      type="java.lang.Boolean"
                      default="false"/>
            <property name="acknowledgemode"
                      display="Acknowledge Mode"
                      description="Acknowledge Mode"
                      type="java.lang.String"
                      choice="AUTO_ACKNOWLEDGE CLIENT_ACKNOWLEDGE DUPS_OK_ACKNOWLEDGE"/>
            <entitylist name="receiver"
                        display="Queue Receivers"
                        description="Queue Receivers created by this Session">
              <entitytemplate name="receiver"
                              display="Queue Receiver"
                              description="Queue Receiver">
                <property name="queue"
                          display="Queue Name"
                          description="Queue Name"
                          type="java.lang.String"/>
                <property name="selector"
                          display="Message Selector"
                          description="Message Selector"
                          type="java.lang.String"/>
              </entitytemplate>
            </entitylist>
            <entitylist name="browser"
                        display="Queue Browsers"
                        description="Queue Browsers created by this Session">
              <entitytemplate name="browser"
                              display="Queue Browser"
                              description="Queue Browser">
                <property name="queue"
                          display="Queue Name"
                          description="Queue Name"
                          type="java.lang.String"/>
                <property name="selector"
                          display="Message Selector"
                          description="Message Selector"
                          type="java.lang.String"/>
              </entitytemplate>
            </entitylist>
            <entitylist name="sender"
                        display="Queue Senders"
                        description="Queue Senders created by this Session">
              <entitytemplate name="sender"
                              display="Queue Sender"
                              description="Queue Sender">
                <property name="queue"
                          display="Queue Name"
                          description="Queue Name"
                          type="java.lang.String"/>
              </entitytemplate>
            </entitylist>
            <entitylist name="publisher"
                        display="Topic Publishers"
                        description="Topic Publishers created by this Session">
              <entitytemplate name="publisher"
                              display="Topic Publisher"
                              description="Topic Publisher">
                <property name="topic"
                          display="Topic Name"
                          description="Topic Name"
                          type="java.lang.String"/>
              </entitytemplate>
            </entitylist>
            <entitylist name="durables"
                        display="Durable Topic Subscriber"
                        description="Durable Topic Subscriber created by this Session">
              <entitytemplate name="durables"
                              display="Durable Topic Subscriber"
                              description="Durable Topic Subscriber">
                <property name="durablename"
                          type="java.lang.String"
                          display="Durable Name"
                          description="Name of the durable Subscriber"/>
                <property name="clientid"
                          type="java.lang.String"
                          display="Client Id"
                          description="Client Id"/>
                <property name="topic"
                          type="java.lang.String"
                          display="Topic Name"
                          description="Topic Name"/>
                <property name="selector"
                          type="java.lang.String"
                          display="Message Selector"
                          description="Message Selector"/>
                <property name="nolocal"
                          type="java.lang.Boolean"
                          display="No Local"
                          description="Receives no local published Messages"
                          default="false"/>
                <property name="boundto"
                          type="java.lang.String"
                          display="Bound To"
                          description="Is bound to Queue"/>
              </entitytemplate>
            </entitylist>
            <entitylist name="subscriber"
                        display="Topic Subscriber"
                        description="Topic Subscriber created by this Session">
              <entitytemplate name="subscriber"
                              display="Topic Subscriber"
                              description="Topic Subscriber">
                <property name="clientid"
                          type="java.lang.String"
                          display="Client Id"
                          description="Client Id"/>
                <property name="topic"
                          type="java.lang.String"
                          display="Topic Name"
                          description="Topic Name"/>
                <property name="selector"
                          type="java.lang.String"
                          display="Message Selector"
                          description="Message Selector"/>
                <property name="nolocal"
                          type="java.lang.Boolean"
                          display="No Local"
                          description="Receives no local published Messages"
                          default="false"/>
                <property name="temptopic"
                          type="java.lang.Boolean"
                          display="Temporary Topic"
                          description="Is Temporary Topic"
                          default="false"/>
                <property name="boundto"
                          type="java.lang.String"
                          display="Bound To"
                          description="Is bound to Queue"/>
              </entitytemplate>
            </entitylist>
          </entitytemplate>
        </entitylist>
      </entitytemplate>
    </entitylist>
  </configuration>
</swiftlet>
