<swiftlet name="sys$mgmt"
          displayname="Management Swiftlet"
          class="com.swiftmq.impl.mgmt.standard.MgmtSwiftletImpl"
          icon="/sys_mgmt/images/swiftlet.png"
          description="Management Swiftlet"
          release="${release}"
          vendor="IIT Software GmbH">
  <configuration>
      <property name="authentication-enabled"
                type="java.lang.Boolean"
                display="Authentication Enabled"
                description="Enables/Disables Authentication"
                default="false"/>
      <property name="admin-roles-enabled"
                type="java.lang.Boolean"
                display="Administration Roles Enabled"
                description="Enables/Disables Administration Roles"
                default="false"/>
    <property name="admintool-connect-logging-enabled"
              type="java.lang.Boolean"
              display="Admintool Connect Logging Enabled"
              description="Enables/Disables Connect/Disconnect Logging of Admin Tools"
              default="true"/>
    <property name="crfactory-class"
              type="java.lang.String"
              display="C/R Factory Class"
              description="Challenge/Response Factory Class"
              default="com.swiftmq.auth.ChallengeResponseFactoryImpl"/>
    <property name="password"
              type="java.lang.String"
              display="Password"
              description="Authentication Password"/>
    <property name="flush-interval"
              type="java.lang.Long"
              display="Flush Interval"
              description="Interval in which the Event queue is flushed to the SwiftMQ Explorers"
              min="500"
              default="500"/>
      <entity name="jmx"
              display="JMX Settings"
              description="JMX Settings">
        <property name="enabled"
                  type="java.lang.Boolean"
                  display="Enabled"
                  description="Enables/Disabled JMX Administration"
                  default="false"/>
        <property name="groupable-objectnames"
                  type="java.lang.Boolean"
                  display="Groupable Objectnames"
                  description="Creates groupable Objectnames instead of flat Names"
                  default="true"/>
        <entity name="mbean-server"
                display="MBean Server"
                description="MBean Server">
          <property name="usage-option"
                    type="java.lang.String"
                    display="Usage Option"
                    description="How to use the MBean Server"
                    choice="use-platform-server use-named-server create-named-server"
                    default="use-platform-server"
                    reboot-required="true"/>
          <property name="server-name"
                    type="java.lang.String"
                    display="MBean Server Name"
                    description="MBean Server Name"
                    reboot-required="true"/>
        </entity>
      </entity>
      <entity name="message-interface"
              display="Message Interface Settings"
              description="Message Interface Settings">
        <property name="enabled"
                  type="java.lang.Boolean"
                  display="Enabled"
                  description="Enables/Disabled Administration via Message Interface"
                  default="false"/>
          <property name="request-queue-name"
                    type="java.lang.String"
                    display="Request Queue Name"
                    description="Input Queue Name for Admin Requests"
                    default="swiftmqmgmt-message-interface"/>
      </entity>
      <entitylist name="roles"
                  display="Roles"
                  description="Administration Roles">
        <entitytemplate name="role"
                        display="Role"
                        description="Administration Roles">
            <entitylist name="context-filters"
                        display="Context Filters"
                        description="CLI Context Filters">
              <entitytemplate name="context-filter"
                              display="Context Filter"
                              description="CLI Context Filter">
                  <property name="type"
                            type="java.lang.String"
                            display="Type"
                            description="Filter Type"
                            choice="include exclude"
                            default="include"/>
                  <property name="cli-context-predicate"
                            type="java.lang.String"
                            display="CLI Context Predicate"
                            description="CLI Context Predicate (SQL Predicate)"
                            mandatory="true"/>
                  <property name="read-only"
                            type="java.lang.Boolean"
                            display="Read Only"
                            description="Is Read Only"
                            default="false"/>
                  <property name="granted-commands"
                            type="java.lang.String"
                            display="Granted Commands"
                            description="Granted Commands of this CLI Context (SQL Like Predicates)"
                            mandatory="false"/>
              </entitytemplate>
            </entitylist>
        </entitytemplate>
      </entitylist>
      <entitylist name="usage"
                  display="Usage"
                  description="Connected Administration Tools">
        <entitytemplate name="usage"
                        display="Connected Administration Tool"
                        description="Connected Administration Tool">
          <property name="hostname"
                    type="java.lang.String"
                    display="Host Name"
                    description="Host Name"/>
          <property name="toolname"
                    type="java.lang.String"
                    display="Tool Name"
                    description="Tool Name"/>
          <property name="connecttime"
                    display="Connect Time"
                    description="Connect Time"
                    type="java.lang.String"/>
          <property name="lease-timeout"
                    display="Lease Timeout"
                    description="Lease Timeout"
                    type="java.lang.String"/>
        </entitytemplate>
      </entitylist>
  </configuration>
</swiftlet>
