<swiftlet name="sys$log"
          displayname="Log Swiftlet"
          class="com.swiftmq.impl.log.standard.LogSwiftletImpl"
          icon="/com/swiftmq/impl/log/standard/images/swiftlet.png"
          description="Central Logging Facility"
          release="${release}"
          vendor="IIT Software GmbH, Bremen/Germany">
  <configuration>
    <property name="size-limit"
              type="java.lang.Integer"
              display="Logfile Size Limit (KB)"
              description="Logfiles do rotate by reaching this size"
              min="1"
              default="1024"/>
    <property name="number-old-logfile-generations"
              type="java.lang.Integer"
              display="Number old Logfile Generations"
              description="Number old Logfile Generations to keep"
              default="50"/>
    <property name="logfile-info-enabled"
              type="java.lang.Boolean"
              display="Info Logfile enabled"
              description="Info Logfile enabled"
              default="true"/>
    <property name="logfile-info"
              type="java.lang.String"
              display="Logfile Information Messages"
              description="Logfile Information Messages"
              default="swiftmq_info.log"/>
    <property name="logfile-warning-enabled"
              type="java.lang.Boolean"
              display="Warning Logfile enabled"
              description="Warning Logfile enabled"
              default="true"/>
    <property name="logfile-warning"
              type="java.lang.String"
              display="Logfile Warning Messages"
              description="Logfile Warning Messages"
              default="swiftmq_warning.log"/>
    <property name="logfile-error-enabled"
              type="java.lang.Boolean"
              display="Error Logfile enabled"
              description="Error Logfile enabled"
              default="true"/>
    <property name="logfile-error"
              type="java.lang.String"
              display="Logfile Error Messages"
              description="Logfile Error Messages"
              default="swiftmq_error.log"/>
    <property name="logsink-directory"
              type="java.lang.String"
              display="Logsink Directory"
              description="Directory where Logsinks will be stored"
              default="./"/>
  </configuration>
</swiftlet>
